@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(/fonts/Lato-Bold.woff2) format('woff2');
}

@font-face {
    font-family: Lato;
    font-style: italic;
    src: url(/fonts/Lato-Italic.woff2) format('woff2');
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/Lato-BoldItalic.woff2) format('woff2');
}

@font-face {
    font-family: Lato;
    font-weight: 200;
    src: url(/fonts/Lato-Light.woff2) format('woff2');
}

@font-face {
    font-family: Avenir;
    src: url(/fonts/Avenir.woff2) format('woff2');
}

@font-face {
    font-family: Menlo;
    src: url(/fonts/Menlo-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    src: url(/fonts/NotoSerif-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-weight: bold;
    src: url(/fonts/NotoSerif-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans Arabic';
    src: url(/fonts/NotoSansArabicUI-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans Devanagari';
    src: url(/fonts/NotoSansDevanagariUI-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url(/fonts/NotoSansHebrew-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans Tamil';
    src: url(/fonts/NotoSansTamilUI-Regular.woff2) format('woff2');
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: var(--text-font), sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
    --header-font: Avenir, Lato;
    --text-font: Lato;
    --imposed-font: var(--text-font);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    height: 50px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-body {
    min-height: 200px;
    margin: -20px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-body div {
    flex-shrink: 0;
}

.header-body .search-box-container {
    width: 600px;
    max-width: 80%;
    margin: 40px 0 0 0;
}

#search-input {
    font-size: 18px;
    width: calc(100% - 20px); /* padding 2*10px */
    font-family: inherit;
    border: none;
    border-bottom: 3px solid #f4f6f8;
    padding: 7px 10px 4px 10px;
    margin-bottom: 1px;
    transition-duration: 300ms;
    color: #333;
    background-color: #f4f6f8;
}

#search-input:focus,
#search-input.fake-focus {
    border-bottom-color: #e4e6e8;
    outline: none; /* override chrome default */
}

#search-input::placeholder {
    color: #aaa;
}

#search-input::selection {
    background-color: #10a0d030;
}

.banner {
    width: 260px;
    height: 65px;
    background-image: url(./img/banner.svg);
}

.hidden-text {
    position: absolute;
    left: -100000px;
    font-size: 0;
    color: transparent;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    font-size: 26px;
    margin: 0;
    color: #333;
    text-align: center;
    line-height: 1;
}

.subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow-x: auto;
}

.tabs-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.tabs-container .tab {
    font-size: 20px;
    height: 54px;
    color: #666;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabs-container .tab:not(.tab-disabled):hover {
    background-color: #f0f2f4;
}

.tabs-container .tab-selected {
    font-weight: bold;
    color: #000000;
    border-bottom: 4px solid #f8d400;
    height: 46px; /* = 54px - 8px */
    padding-top: 4px;
    margin-bottom: -4px;
}

.tabs-container .tab-disabled {
    color: #00000020;
    cursor: inherit;
}

.no-select {
    user-select: none;
}

footer {
    padding: 50px 20px 60px 20px;
    color: #aaa;
    text-align: center;
    font-size: 16px;
}

footer a {
    color: #aaa;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a:focus {
    text-decoration: none;
    color: #888;
}

header {
    background-color: white;
    z-index: 2;
}

.subheader {
    background-color: white;
    box-shadow: 0 0 10px #00000030;
    z-index: 1;
}

.content-container {
    width: 100%;
    max-width: 1000px;
    align-self: center;
    background-color: white;
    box-shadow: 0 0 15px #00000020;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 40px;
    font-size: 18px;
    line-height: 1.75;
}

.content-article {
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
}

sup, sub {
    line-height: 1;
}

h1 {
    color: #101010;
    font-weight: normal;
    font-size: 2.4em;
    margin: 0 0 1.5em 0;
    line-height: 1;
    font-family: var(--header-font), sans-serif;
    --imposed-font: var(--header-font);
}

h1.index-h1 {
    font-size: 3em;
    display: inline-block;
    text-align: center;
    min-width: .6em;
    padding: .1em 0 3px 0;
    border-bottom: 5px solid #f8d400;
}

h1 .h1-lighter {
    font-size: 80%;
}

h1 span.no-sc {
    font-size: 90%;
}

#content {
    min-height: 400px;
    padding-bottom: 100px;
}

.index-item {
    padding: 0 40px 0 calc(40px + 2.5em);
    margin: 0 -40px;
    cursor: pointer;
    text-indent: -2.5em;
    font-size: 1.1em;
    line-height: 2;
}

.index-item:hover {
    background-color: #f0f2f4;
}

h2 {
    margin: 1.5em -5px 1em -5px;
    font-size: 1.4em;
    font-weight: normal;
    border-bottom: 2px solid #f8d400;
    padding: 0 5px;
    line-height: 1.5;
}

h3 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 1.2em 0 .5em 0;
}

h3 .h3-space-before {
    margin-left: 1em;
}

ul {
    margin: .5em;
    padding-left: 2.5em;
    list-style-type: none;
}
ul li {
    text-indent: -1em;
}
ul li::before {
    display: inline-block;
    content: "\2022";
    margin-right: 1em;
}

ol {
    margin: .5em;
    padding-left: 1.5em;
}
ol li {
    padding-left: 1em;
}

li.level-1 {
    margin-left: 2em;
}

li.level-2 {
    margin-left: 4em;
}

.hidden {
    display: none !important;
}

span.ref-link,
span.fake-link,
.expander {
    cursor: pointer;
}
.content a,
span.ref-link,
span.fake-link,
.expander {
    color: #10a0d0;
    text-decoration: none;
}
.content a {
    border-bottom: 2px solid #e4e6e8;
}
.content a:hover {
    color: #1090c0;
    text-decoration: none;
    background-color: #f4f6f8;
}
.content a:focus {
    text-decoration: none;
    color: #1070a0;
}

.expander {
    margin-left: 2em;
    font-size: 90%;
}

span.bold-term {
    font-weight: bold;
}

span.center-dot {
    margin: 0 4px;
}

span.ipa {
    font-family: 'Noto Serif';
    font-size: 96%;
    font-feature-settings: "liga" off, "rlig" on;
    white-space: nowrap;
}

ul.pron-list span.ipa {
    font-size: 100%;
}

.content-article span.ipa {
    font-size: 96%;
}

span.ipa span.ipa-debug {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 90%;
}

span.ipa span.ipa-delimiter {
    margin: 0 2px;
    font-family: var(--text-font), sans-serif;
}

span.ipa span.ipa-stress-mark {
    margin-right: 2px;
    font-family: var(--text-font), sans-serif;
}

span.ipa span.ipa-stress-mark.ipa-stress-inside-syllable {
    margin-right: 0;
}

span.ipa span.ipa-dot,
span.ipa span.ipa-liaison {
    color: transparent;
    display: inline-block;
    text-indent: 0;
    position: relative;
}

span.ipa span.ipa-dot {
    padding: 0 .05em;
}

span.ipa span.ipa-liaison {
    margin: 0 -.2em;
    top: .2em;
}

span.ipa span.ipa-dot::selection,
span.ipa span.ipa-liaison::selection {
    color: transparent;
    background-color: transparent;
}

span.ipa span.ipa-dot::before,
span.ipa span.ipa-liaison::before {
    color: #bbb;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

span.ipa span.ipa-dot::before {
    content: '\2027';
}

span.ipa span.ipa-liaison::before {
    content: '\203F';
}

span.ipa span.ipa-space {
    margin: 0 1px;
    white-space: normal;
}

span.ipa span.ipa-word {
    padding: 0 2px;
    cursor: pointer;
}

span.ipa span.ipa-word:hover {
    background-color: #ececec;
}

span.ipa span.ipa-word-non-interactive {
    padding: 0 2px;
}

span.ipa.ipa-display {
    font-size: 120%;
}

span.lang-code[title] {
    color: #10a0d0;
    cursor: help;
    font-style: italic;
    border-bottom: 1px dashed #ccc;
}

span.lang-code-light {
    color: #d09000;
    font-size: 15px;
    font-family: Menlo, monospace;
    border-radius: 5px;
    background-color: #fff8e4;
    padding: 0 5px;
    cursor: default;
}

span.translit {
    font-style: italic;
}

span.index-translit {
    font-size: 90%;
    color: #aaa;
    white-space: nowrap;
}

span.smaller {
    font-size: 90%;
}

span.text-tag,
span.text-tag-green,
span.text-tag-red {
    font-size: 15px;
    padding: 1px 5px 3px 5px;
    border-radius: 3px;
    cursor: default;
    white-space: nowrap;
}

span.text-tag {
    color: #7bd;
    background-color: #7bd1;
}

span.text-tag-green {
    color: #6a6;
    background-color: #6a61;
}

span.text-tag-red {
    color: #e66;
    background-color: #e661;
}

:lang(ar):not(.translit),
:lang(fa):not(.translit) {
    font-family: var(--imposed-font), 'Noto Sans Arabic', sans-serif;
}

:lang(he):not(.translit),
:lang(yi):not(.translit) {
    font-family: var(--imposed-font), 'Noto Sans Hebrew', sans-serif;
}

:lang(hi):not(.translit),
:lang(sa):not(.translit) {
    font-family: var(--imposed-font), 'Noto Sans Devanagari', sans-serif;
}

:lang(ja):not(.translit) {
    font-family: var(--imposed-font), sans-serif;
}

:lang(ta):not(.translit) {
    font-family: var(--imposed-font), 'Noto Sans Tamil', sans-serif;
}

:lang(yue):not(.translit),
:lang(zh):not(.translit) {
    font-family: var(--imposed-font), 'Microsoft YaHei UI', 'Noto Sans CJK SC', sans-serif;
}

span.audio {
    cursor: pointer;
}

ruby {
	display: inline-table;
	text-align: center;
	text-indent: 0px;
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
	line-height: 1;
	height: 1em;
	vertical-align: 1em;
	border: none;
}

ruby > rb {
    display: table-row-group;
	line-height: 1;
	text-align: center;
	border: none;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

rt {
	display: table-header-group;
	font-size: 0.625em;
	line-height: 1.1;
	text-align: center;
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
}

#ipa-explainer-container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 15px #00000020;
    z-index: 1000;
}

#ipa-explainer-container:focus {
    outline: none;
}

#ipa-explainer {
    margin: 0 1em;
    width: 25em;
    font-size: 18px;
}

#ipa-explainer .ipa-notes-button-container {
    margin: -.5em 0 .7em 0;
    text-align: right;
    font-size: 70%;
}

#ipa-explainer .ipa-notes-button {
    padding: .2em .5em;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

#ipa-explainer .ipa-notes-button:hover {
    background-color: #f4f6f8;
    color: #888;
}

#ipa-explainer .ipa-display-container {
    text-align: center;
    line-height: 2;
    border-bottom: 1px solid #d8d8d8;
}

#ipa-explainer .ipa-display {
    font-size: 1.5em;
}

#ipa-explainer .ipa-detail-container {
    min-height: 5em;
}

#ipa-explainer .ipa-detail {
    margin: .5em 0 1em 0;
    line-height: 1.2;
}

#ipa-explainer .ipa-detail-item {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
}

#ipa-explainer .ipa-detail-item.level-0 {
    margin-bottom: .5em;
    align-items: center;
}
#ipa-explainer .ipa-detail-item.level-1 {
    align-items: baseline;
    color: #808080;
}

#ipa-explainer .ipa-detail-item-header {
    margin-right: .5em;
    width: 2.5em;
    flex-shrink: 0;
    font-size: 1.2em;
    line-height: 1;
    color: #000000;
    text-align: center;
}

#ipa-explainer .ipa-detail-item.level-0 .ipa-detail-item-header {
    background-color: #f4f4f4;
    line-height: 1.5;
    font-size: 1.8em;
}

#ipa-explainer span.ipa-unit {
    cursor: pointer;
}

#ipa-explainer span.ipa-unit.ipa-unit-highlight:not(.ipa-unit-indirect-highlight) {
    background-color: #30a0d010;
    box-shadow: 0 0 10px #30a0d020;
    color: #30a0d0;
}

#ipa-explainer span.ipa-unit.ipa-unit-highlight:not(.ipa-unit-indirect-highlight) span.ipa-embedded-unit {
    color: #000000;
}

#ipa-explainer .ipa-detail-placeholder {
    color: #aaa;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ipa-explainer .ipa-detail-subheader {
    color: #303030;
    border-bottom: 2px solid #f8d400;
    padding: 2px 3px;
    margin: .5em 0;
    text-transform: uppercase;
    font-size: .9em;
}

.under-header {
    font-size: 75%;
    margin: 3em 0 .7em 0;
    min-height: 2em;
    color: #666;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.under-header span {
    flex-shrink: 0;
}

span.under-header-separator::before {
    content: '|';
}

span.under-header-separator {
    margin: 0 1em;
}

.under-header-grow {
    min-width: 2em;
    flex-grow: 1;
}

span.fake-link.ipa-selector.selected {
    border-bottom: 2px solid #f8d400;
    color: #666;
}

#search-list-container {
    position: absolute;
    display: none;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: none;
    min-height: 20px;
}

.search-list-shadow-caster {
    position: absolute;
    display: none;
    z-index: 500;
    box-shadow: 0 0 15px #00000020;
}

#search-list-container .search-list-no-results {
    color: #aaa;
    font-size: 18px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-list .search-list-item {
    padding: 5px 10px;
    cursor: pointer;
}

#search-list .search-list-item:last-child {
    padding-bottom: 7px;
}

#search-list .search-list-item:hover {
    background-color: #f4f6f8;
}

#search-list .search-list-item .search-item-header {
    font-size: 18px;
    color: #444;
}

#search-list .search-list-item .search-item-header span.search-item-highlight {
    color: #e0a000;
    font-weight: bold;
}

#search-list .search-list-item .search-item-subheader {
    font-size: 15px;
    color: #aaa;
}

#search-list .search-list-item .search-item-subheader span.search-item-highlight {
    color: #e0a000; /* no bold, so arabic/indic scripts don't break */
}

.lang-button {
    padding: 5px 10px;
    margin-right: 20px;
    min-width: 60px;
    color: #aaa;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.lang-button:hover {
    color: #888;
    background-color: #f0f2f4;
}

#lang-list-container,
#report-button-container {
    display: none;
    position: absolute;
    width: 200px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0 15px #00000020;
    z-index: 1000;
    font-size: 16px;
}

#report-button-container {
    line-height: 1.5;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.lang-list-item {
    color: #888;
    cursor: pointer;
    padding: 5px 15px;
}

.lang-list-item:hover {
    color: #666;
    background-color: #f0f2f4;
}

.alternative-spellings {
    color: #aaa;
    font-size: 90%;
    text-indent: -2.5em;
    margin-top: -.5em;
    margin-left: 3.5em;
    line-height: 1.5;
}

span.alternative-spelling {
    transition-duration: 300ms;
}

span.alternative-spelling:hover {
    color: #666;
}

.table-container {
    margin: 10px 0;
    overflow-x: auto;
    text-align: center;
}

.table-container > table {
    display: inline-block;
}

table.ipa-chart {
    border-collapse: collapse;
}

table.ipa-chart th,
table.ipa-chart td {
    text-align: center;
    padding: 0 2px;
}

table.ipa-chart th {
    line-height: 1.2;
}

table.ipa-chart td.grey {
    color: #aaa;
}

table.ipa-chart .right {
    text-align: right;
}

table.ipa-chart .left {
    text-align: left;
    padding-left: .5em;
}

table.ipa-chart .rule-below {
    border-bottom: 2px solid #f8d400;
}

table.ipa-chart .rule-lt-below {
    border-bottom: 2px solid #eee;
}

table.ipa-chart .rule-right {
    border-right: 2px solid #f8d400;
    padding: 0 10px;
}

table.ipa-chart .rotate {
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-align: right;
    padding: 10px .5em;
}

.content-ajax-fail,
.content-ajax-loading {
    color: #aaa;
}

.nowrap {
    white-space: nowrap;
}

@media (hover: none) {
    .tabs-container .tab:hover {
        background-color: transparent !important;
    }

    .index-item {
        transition-duration: 300ms;
    }

    .index-item:hover:not(.touch-highlight) {
        background-color: transparent;
    }

    .index-item.touch-highlight {
        background-color: #eceff2;
    }
}

/* Mobile devices & iPad */
@media only screen and (max-device-width : 800px) {
    .header-top {
        height: 40px;
    }
    .header-body {
        min-height: 160px;
        margin-bottom: 40px;
    }

    .lang-button {
        font-size: 12px;
        min-width: 40px;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0 20px 50px;
    }

    .banner-text {
        font-size: 24px;
    }

    .banner {
        width: 200px;
        height: 50px;
    }

    .header-body .search-box-container {
        margin: 10px 0 0 0;
        max-width: 80%;
    }

    input#search-input {
        font-family: sans-serif;
        font-size: 16px;
        margin: 0;
    }

    .tabs-container .tab {
        font-family: sans-serif;
        font-size: 16px;
        height: 46px;
    }

    .tabs-container .tab-selected {
        border-bottom: 3px solid #f8d400;
        height: 40px; /* = 46px - 6px */
    }

    .content {
        font-size: 14px;
    }

    span.center-dot {
        margin: 0 2px;
    }

    span.text-tag, span.text-tag-red, span.text-tag-green, span.lang-code-light {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    ul {
        padding-left: 1.5em;
    }
    ol {
        padding-left: 1em;
    }

    #lang-list-container,
    #report-button-container {
        width: 120px;
        padding: 5px 0;
        font-size: 12px;
    }
    
    #report-button-container {
        padding: 5px 10px;
    }
    
    .lang-list-item {
        padding: 5px 5px;
    }

    .alternative-spellings {
        font-size: 12px;
        margin-left: 60px;
        text-indent: -30px;
        margin-top: -10px;
    }

    .under-header {
        font-size: 12px;
        margin-top: 30px;
    }

    #ipa-explainer {
        font-size: 12px;
    }
}

/* Mobile devices excluding iPad */
@media only screen and (max-device-width : 640px) {
    .header-body .search-box-container {
        margin: 0;
        width: calc(100% - 20px);
        max-width: none;
    }

    .banner-container {
        margin: 20px 10px 40px 10px;
    }

    .content-container {
        width: 100%;
    }

    .content {
        padding: 0 20px;
    }

    h1 {
        font-size: 2em;
    }

    .index-item {
        line-height: 1.75;
        margin: 0 -20px;
        padding: 0 20px 0 calc(20px + 2.5em);
    }

    table.alt-bg-from-3rd-mobile tr:nth-child(2n+3) {
        background-color: #f4f6f8;
    }

    table.alt-bg-from-4th-mobile tr:nth-child(2n+4) {
        background-color: #f4f6f8;
    }
}

/* Phones */
@media only screen and (max-device-width : 400px) {
    #ipa-explainer {
        width: 20em;
    }
}
